a:link {
  color: #052f5f;
}

a:visited {
  color: #586994;
}

a:hover {
  -webkit-filter: drop-shadow(0 0 8px grey);
  filter: drop-shadow(0 0 8px grey);
  filter: drop-shadow(0 0 0 8px grey);
}

a:active {
  color: #2ec0f9;
}

a {
  text-decoration: none;
}

#profilepic {
  border-radius: 50%;
  padding: 20px;
  padding-top: 65px;
}

#about {
  padding: 40px 0;
}

#aboutcontent {
  font-size: 18px;
  padding: 60px 25px;
  margin: 20px 0;
}

#experience {
  padding: 40px 0;
}

.col-sm-3,
.col-sm-9 {
  padding: 20px 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 10px;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/sky.JPG");
  background-size: cover;
  color: #ffffff;
  height: 600px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #e8dfe0;
  color: #ffffff;
  margin: 0 0 30px;
}

.navbar-fixed-bottom {
  background-color: white;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
